@import url('https://fonts.googleapis.com/css2?family=Caprasimo:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: rgb(219,205,240);
    background: linear-gradient(90deg, rgba(219,205,240,1) 20%, rgba(201,228,222,1) 80%);
    font-family: sans-serif;
    font-weight: 100;
}

h1.title {
    font-family: 'Caprasimo', cursive;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 20px;
}

.container {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
}

.container div {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: 150px;
}

h2, table th {
    font-family: 'Belanosima', sans-serif;
}

table td {
    font-family: 'Bitter', serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    table-layout: auto;
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #000;
}

th {
    text-align: center;
}

thead th {
    background-color: #ffb3c6;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
    position: relative;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.button {
    transition: all 0.3s ease-in-out;
    font-family: 'Bitter', serif;
}

.button {
    width: 120px;
    height: 50px;
    border-radius: 40px;
    background-image: linear-gradient(145deg, #e1a1e6, #ffc0ff);
    box-shadow: 0 15px 25px -10px rgba(255, 16, 231, 0.208);
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: white;
}

.button:hover {
    transform: translateY(4px);
    box-shadow: none;
}

.button:active {
    opacity: 0.5;
}

.button2 {
    background-image: linear-gradient(45deg, rgba(255,179,198,1) 23%, rgba(255,87,129,1) 100%);
}

.button2 {
    margin: 8px;
    padding: 12px 25px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: inline-block;
    border: 0;
    font-family: 'Bitter', serif;
    font-weight: 700;
    box-shadow: 0 0 14px -7px #ffe5ec;
}

.button2:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.button2:active {
    transform: scale(0.95);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 10;
    padding: 10px;
    background: linear-gradient(145deg, #e1a1e6, #ffc0ff);
    box-shadow: 31px 31px 63px #9e71a1, -31px -31px 63px #fff5ff;
    color: #000;
    border-radius: 105px;
}

.link {
    font-family: 'Bitter', serif;
}